.satu{
  margin-left: 650px;
}
.dua {
  position: absolute;
}
.tiga {
  margin-left: 690px;
  margin-top: -1px;
}
.empat {
  margin-top: 49px;
  margin-left: 250px;
  margin-right: 401px;
}
.lima {
  margin-left: 250px;
  margin-top: -9px;
}
.enam {
  margin-left: 230px;
  margin-top: -9px;
}
.tujuh {
  margin-left: 370px;
  margin-top: -33px;
}
.delapan {
  margin-top: -30px;
  margin-left: 350px;
}
.sembilan {
  margin-top: -54px;
  margin-left: 500px;
}
.sepuluh {
  margin-left: 470px;
  margin-top: -9px;
}
.sebelas {
  margin-left: 570px;
  margin-top: -53px;
}
.duabelas {
  margin-top: -83px;
  margin-left: 625px;
}
.tigabelas {
  margin-left: 605px;
  margin-top: -9px
}
.empatbelas {
  margin-left: 690px;
  margin-top: -55px;
}
.limabelas{
  margin-left: 670px;
  margin-top: -9px;
}
.enambelas {
  margin-left: 750px;
  margin-top: -54px;
}
.tujuhbelas {
  margin-left: 730px;
  margin-top: -9px
}
.delapanbelas {
  margin-left: 820px;
  margin-top: -54px;
}
.sembilanbelas {
  margin-left: 803px;
  margin-top: -9px;
}
.duapuluh {
  margin-left: 875px;
  margin-top: -54px;
}
.duapuluhsatu {
  margin-left: 858px;
  margin-top: -9px;
}
.duapuluhdua {
  margin-left: 930px;
  margin-top: -54px;
}
.duapuluhtiga {
  margin-left: 915px;
  margin-top: -9px;
}
.duapuluhempat {
  margin-left: 368px;
  margin-top:-1px;
}
.duapuluhlima {
  margin-left: 310px;
  text-align: center;
  margin-top: -9px;
}
.duapuluhenam{
  margin-left: 500px;
  margin-top: -98px;
}
.duapuluhtujuh{
  margin-left: 470px;
  margin-top: -9px;
}